{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Glidepath{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="{% static 'glidepath_app/chart.min.js' %}"></script>
    <script src="{% static 'glidepath_app/chartAdapter.js' %}"></script>
</head>
<body class="p-4">
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
